body {
    margin: 0
}

.pac-target-input {
    width: 20vw;
    height: 3vh;
    align-self: center;
    left: 0;
    top: 0;
}

.topbar {
    width: 100vw;
    /*height: 100%;*/
    grid-row: 1;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-evenly;
    font-family: "JustSansRegular";
    background-color: #d4d4d4;
    flex-wrap: wrap;
    color: #0d2c38;

}
.topbarEntry {
    padding: 1vh;
    text-decoration: none;
    color: #0d2c38;

    /*animation: b`u`ttonHover 1s;*/
    /*animation-direction: reverse;*/
    /*animation-fill-mode: forwards;*/
}

.topbarEntry:hover {
    animation: buttonHover 1.25s;
    animation-fill-mode: forwards;
}

@keyframes buttonHover {
    0% {
        background-color: rgba(255,255,255,0);
    }
    100% {
        background-color: rgba(255,255,255, 0.5);
    }
}

@keyframes backgroundGradient{
    0% {
        transform: scale(500%) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) scale(100%);

    }
}

.homepage {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.homepageBG {
    background: rgb(244,167,255);
    background: radial-gradient(circle, rgba(244,167,255,1) 5%, rgba(166,147,237,1) 18%, rgba(255,255,255,1) 38%, rgba(221,161,216,1) 62%, rgba(235,162,60,1) 100%);
    animation-name: backgroundGradient;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-duration: 10s;
    animation-direction: alternate;
    /*transition:--a 0.5s;*/
    /*scale: 200%;*!*/
    width: 105%;
    height: 105%;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    filter: blur(25px);
}

@font-face {
    font-family: 'Geometos';
    src: url("assets/resources/fonts/Geometos.ttf") format("truetype");
}

@font-face {
    font-family: "JustSansBold";
    src: url("assets/resources/fonts/JustSansBold.otf") format("opentype");
}

@font-face {
    font-family: "JustSansRegular";
    src: url("assets/resources/fonts/JustSansRegular.otf") format("opentype");
}

form input {
    display: block;
    margin: 0.5vh;
    font-size: 20pt;
}

form label {
    font-size: 20pt;
}

@keyframes borderAnimate {
    100% {
        border: 1vw solid #d4d4d4;
        scale: 100%;
    }
    0% {
        border: 1vw solid white;
        scale: 102%
    }
}
@keyframes borderAnimate2 {
    0% {
        border: 1vw solid #d4d4d4;
        scale: 100%
    }
    100% {
        border: 1vw solid white;
        scale: 102%;
    }
}


.card:hover {
    animation-name: borderAnimate2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.card {
    transition-delay: 0.25s;
    border: 1vw solid #d4d4d4;
    border-radius: 1vw;
    padding: 2vw;
    display: flex;
    overflow: hidden;
    margin: 1vw;
    background-color: rgba(137, 255, 160, 0.33);
    color: #0d2c38;
    animation-name: borderAnimate;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /*width: fit-content;*/
    height:fit-content;
    width: min(90vh, 90vw);
    position: relative;
    justify-content: center;

    /*animation-direction: ;*/
}

.cardNoAnimate {
    border: 1vw solid #d4d4d4;
    border-radius: 1vw;
    padding: 2vw;
    display: flex;
    overflow: hidden;
    margin: 1vw;
    background-color: rgba(137, 255, 160, 0.33);
    color: #0d2c38;
}

.c button {
    font-size: 20pt;
    margin-top: 1vw;
    background-color: #3d555f;
    border-radius: 0.5vw;
    padding: 0.5vw;
    color: #DAE6EB;
    /*background-color: inherit;*/
    border: 0.5vw solid #729C9E;
    animation-name: buttonAnimate;
    animation-duration: 0.5s;
    transition-delay: 0.25s;
    animation-fill-mode: forwards;
}

.c button:hover {
    animation-name: buttonAnimate2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes buttonAnimate {
    100% {
        border: 0.5vw solid #3d555f;
        scale: 102%;
    }
    0% {
        border: 0.5vw solid white;
        scale: 100%
    }
}
@keyframes buttonAnimate2 {
    0% {
        border: 0.5vw solid #3d555f;
        scale: 102%
    }
    100% {
        border: 0.5vw solid white;
        scale: 100%;
    }
}

.calendarColumn:nth-of-type(1) {

}

.calendarCell {
    font-family: "JustSansRegular";
    cursor: pointer;
}

.dayOfWeek {
    font-family: "JustSansBold";
}

.ccSelected {
    color: green;
}

.addEstate {
    font-family: "JustSansBold";
    font-size: 20pt;
    color: #0d2c38;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    width: 100%;
}

.addEstate div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.calendarContainer {
    display: flex;
}