body {
    margin: 0
}

/*.pac-target-input {*/
/*    width: 20vw;*/
/*    height: 3vh;*/
/*    align-self: center;*/
/*    left: 0;*/
/*    top: 0;*/
/*}*/

.topbar {
    width: 100vw;
    /*height: min(10vh, 10vw);*/
    /*height: min-content;*/
    /*height: 100%;*/
    grid-row: 1;
    /*display: flex;*/
    align-items: center;
    /*position: absolute;*/
    /*justify-content: space-evenly;*/
    font-family: "JustSansRegular";
    grid-template-columns: auto 70%;
    background-color: #d4d4d4;
    display: grid;
    justify-items: end;
    /*flex-wrap: wrap;*/
    color: #173d4c;
    z-index: 3;

}

.logo {
    /*max-height: 5vh;*/
    display: flex;
    flex-direction: row;
    height: fit-content;
    /*max-width: 30%;*/
    align-items: center;
}

.subheading {
    font-size: min(3vh, 3vw);
    font-family: "JustSansBold"
}

.tagline {

    /*fontSize: "min(3vh, 1.75vw)",*/
    /*fontFamily: "JustSansRegular",*/
    /*marginLeft: "0.5vw",*/
    /*marginBottom: "min(1vw, 1vh)"*/

    font-size: min(3vh, 3vw);
    font-family: "JustSansRegular";
    margin-left: 0.5vw;
    margin-bottom: min(1vh, 1vw);

}

.topbarEntry {
    padding: min(2vh, 2vw);
    text-decoration: none;
    color: #173d4c;
    font-size: min(2.5vh, 3.5vw);
    background-color: #d4d4d4;
    /*animation: b`u`ttonHover 1s;*/
    /*animation-direction: reverse;*/
    /*animation-fill-mode: forwards;*/
}

.tbAnimate {
    position: absolute;
    top: 0;
    animation-name: tb-in;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes tb-in {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

.topbarEntries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;

}

.topbarEntry:hover {
    animation: buttonHover 1.25s;
    animation-fill-mode: forwards;
}

@keyframes buttonHover {
    0% {
        background-color: rgba(255,255,255,0);
    }
    100% {
        background-color: rgba(255,255,255, 0.5);
    }
}

@keyframes backgroundGradient{
    0% {
        transform: scale(500%) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) scale(100%);

    }
}

.homepage {
    display: flex;
    /*align-items: center;*/
    align-content: center;
    justify-content: center;
    height: fit-content;

}

.homepageContainer {
    width: 90%;
    /*height: fit-content;*/
    display: flex;
    flex-direction: column;
    /*border: min(1vw, 1vh) solid #173d4c;*/
    border-radius: min(1vh, 1vw);
    padding: min(1vh, 1vw);
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: min(2vh, 2vw)
}

/*.homepageBG {*/

/*    background: rgb(238,140,140);*/
/*    background: radial-gradient(circle, rgba(238,140,140,1) 3%, rgba(245,186,158,1) 15%, rgba(253,242,180,1) 42%, rgba(241,255,186,1) 55%, rgba(255,217,168,1) 82%, rgba(238,140,140,1) 100%);*/

/*    animation-name: backgroundGradient;*/
/*    animation-iteration-count: infinite;*/
/*    animation-fill-mode: forwards;*/
/*    animation-duration: 10s;*/
/*    animation-direction: alternate;*/
/*    !*transition:--a 0.5s;*!*/
/*    !*scale: 200%;*!*!*/
/*    width: 105%;*/
/*    height: 105%;*/
/*    overflow: hidden;*/
/*    position: fixed;*/
/*    left: 0;*/
/*    top: 0;*/
/*    z-index: -1;*/
/*    filter: blur(25px);*/
/*}*/

.homepageBG {
    background-image: url("/background.jpeg");
        width: 105%;
        background-size: cover;
        height: 105%;
        overflow: hidden;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
    /*display: none;*/
}

@font-face {
    font-family: 'Geometos';
    src: url("assets/resources/fonts/Geometos.ttf") format("truetype");
}

@font-face {
    font-family: "JustSansBold";
    src: url("assets/resources/fonts/JustSansBold.otf") format("opentype");
}

@font-face {
    font-family: "JustSansRegular";
    src: url("assets/resources/fonts/JustSansRegular.otf") format("opentype");
}

form input {
    display: block;
    margin: 0.5vh;
    font-size: 4vh;
    width: 60%;
}


@keyframes borderAnimate {
    100% {
        background-color: rgba(255, 255, 255, 0.9);;
        border: 1vw solid rgba(255, 255, 255, 0.9);
        scale: 100%;
    }
    0% {
        border: 1vw solid rgba(255, 255, 255, 1.0);;
        background-color: rgba(255, 255, 255, 1.0);;
        scale: 102%
    }
}
@keyframes borderAnimate2 {
    0% {
        border: 1vw solid rgba(255, 255, 255, 0.9);
        background-color: rgba(255, 255, 255, 0.9);;
        scale: 100%
    }
    100% {
        border: 1vw solid rgba(255, 255, 255, 1.0);
        background-color: rgba(255, 255, 255, 1.0);;
        scale: 102%;
    }
}


.card:hover {
    animation-name: borderAnimate2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.card {
    transition-delay: 0.25s;
    border: 1vw solid rgba(255, 255, 255, 0.9);;
    border-radius: 1vw;
    padding: min(1vh, 1vw);
    display: flex;
    overflow: hidden;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    color: #173d4c;
    animation-name: borderAnimate;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /*width: fit-content;*/
    height:fit-content;
    width: min(90vh, 90vw, 90%);
    position: relative;
    justify-content: center;
    z-index: 2;
    max-height: 90%;
    font-family: "JustSansRegular";
    /*margin-bottom: 2vw;*/
    flex-wrap: wrap;
    /*animation-direction: ;*/
}

.bookingInput {
    background-color: rgba(195 221 254 / 80%);
    font-size: min(2vw, 2vh);
    color: #173d4c;
    font-family: "JustSansRegular";
    border-radius: 5vh;
    padding: min(1vh, 1vw);
    width: fit-content;
    max-width: 90%;
}

.pac-target-input {
    background-color: white;
    border-radius: 0;
    width: 90%;
}

/*.autocomplete-container {*/
/*    background-color: white;*/
/*}*/

.cardNoAnimate {
    /*border: 1vw solid #d4d4d4;*/
    border-radius: 1vw;
    padding: 2vw;
    display: flex;
    /*overflow: hidden;*/
    margin: 1vw;
    background-color: rgba(255, 255, 255, 0.9);
    color: #173d4c;
}

.c button {
    font-size: min(2vh, 4vw);
    margin: min(0.5vh, 1vw);
    background-color: rgba(255, 235, 82, 0.33);
    border-radius: 0.5vw;
    padding: 0.5vw;
    color: #173d4c;
    /*background-color: inherit;*/
    border: 0.5vw solid #d4d4d4;;
    animation-name: buttonAnimate;
    animation-duration: 0.5s;
    transition-delay: 0.25s;
    animation-fill-mode: forwards;
    width: fit-content;
    height: fit-content;
}

.c button:hover {
    animation-name: buttonAnimate2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes buttonAnimate {
    100% {
        border: 0.5vw solid #d4d4d4;;
        scale: 102%;
    }
    0% {
        border: 0.5vw solid white;
        scale: 100%
    }
}
@keyframes buttonAnimate2 {
    0% {
        border: 0.5vw solid #d4d4d4;;
        scale: 102%
    }
    100% {
        border: 0.5vw solid white;
        scale: 100%;
    }
}

.calendarColumn:nth-of-type(1) {

}

.calendarCell {
    font-family: "JustSansRegular";
    cursor: pointer;
    min-height: 20%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dayOfWeek {
    font-family: "JustSansBold";
}

.ccSelected {
    color: green;
}

.addEstate {
    font-family: "JustSansBold";
    font-size: min(4vh, 4vw);
    color: #173d4c;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    width: 100%;
    text-align: center;
}

.addEstate div {
    display: flex;
    flex-direction: column;
    align-content: center;
    /*justify-content: center;*/
    align-items: center;
    justify-content: flex-start;
}

.calendarContainer {
    display: grid;
    grid-template-rows: auto 2fr;
    align-items: center;
    padding: 1vw;
}

.calendarContainerInner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card .card {
    margin-bottom: 2vw;
}

.calendarInclude {
    display: flex;
    align-items: center;
    margin: 1vw;
    text-align: center;
}
.calendar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginInput {
    max-width: 90%;
}

.bookingView {
    display: grid;
    /*grid-template-columns: auto 1fr auto;*/
    grid-template-columns: min(30vw, 30vh) min(30vw, 30vh) min(30vw, 30vh) ;
    grid-template-rows: auto min(30vw, 30vw) auto;
    flex-direction: row;
    flex-wrap: wrap;
    /*height: 100%;*/
    min-height: 30vh;
    justify-items: center;
    /*width: 90%;*/
}

.bookingLocationView {
    aspect-ratio: 1/1;
    max-height: 90%;
    display: flex;
    grid-column: 2;
    grid-row: 2;
}

.bookingViewButtonContainer {
    /*grid-row: 3;*/
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 90%;
}

.bookingViewTitle {
    grid-row: 1;
    grid-column: 2;
    font-family: "JustSansBold";
    margin: 1vh;
    font-size: 4vh;
}

.bookingSelectionContainer {
    margin-top: 9vh;
    width: min(90vw, 90vh);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bookingSelectionContainer .card {
    width: 100%;
    margin: 0;
    margin-bottom: min(1vh, 1vw);
}

.dropoffLocationView {
    aspect-ratio: 1/1;
    max-height: 90%;
    max-width: min(25vw, 25vh);
    display: flex;
    margin: min(1vh, 1vw);
    width: 30vh;
}

.availableEstatesContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.myDropoffs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 90%;
}

.transferView {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    text-align: center;
}

.dropoffLocationContainer {
    display: grid;
    /*flex-direction: row;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min(30vh, 30vw) auto;
    width: 100%;
    justify-items: center;
}

.soloDropoffLocationView {
    width: min(90vw, 90vh, 90%);
    max-width: min(25vw, 25vh);
    aspect-ratio: 1/1;
}

.dropoffEntrySelection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerContainer {
    max-width: 90%;
    text-align: center;
}

.popUp {
    z-index: 4;
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.notif {
    z-index: 4;
    /*background-color: rgba(0,0,0, 0.5);*/
    position: absolute;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    bottom: 5%;
    opacity: 1;
}

.an {
    animation-name: notifHide;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction:normal;
}

.notifEntry {
    animation-name: notifLifeCycle;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    font-family: JustSansRegular;
    border: min(0.5vw, 0.5vh) solid #173d4c;
    background-color: white;
    width: 90%;
}

@keyframes notifLifeCycle {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.homepageRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: min(0.5vh, 0.5vw) solid #173d4c;
    padding: min(2vw, 2vh);
    align-items: center;
}

.homepageCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slideshow {
    /*max-width: 90%;*/
    /*max-height: min(30vh, 30vw);*/
    overflow: hidden;
    display: flex;
    align-items: center;

}

.slideshowContainer {
    height: 100%;
    overflow: hidden;
}

.slideshow img {
    object-fit: cover;
    width: 100vh;
    height: 100vw;
    object-position: right;
    overflow: hidden;
    will-change: opacity;
    /*animation-name: slideshowFadeIn;*/
    /*animation-duration: 0.25s;*/
    /*opacity: 0;*/

}

@keyframes slideshowFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideshowFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.slideshow-transition-enter {
    opacity: 1;
    transition: opacity 0.25s;
    /*transition-delay: 3s;*/
}
.slideshow-transition-active {
    opacity: 1;
}
.slideshow-transition-exit {
    opacity: 0;
    transition: opacity 0.25s;
}
.slideshow-transition-exit-done {
    opacity: 0;

}



@media (orientation: landscape) {
    .homepageDuo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: min-content;
        overflow: hidden;
        grid-gap: min(2vh, 2vw);
        margin: min(1vh, 1vw);
        padding: min(1vh, 1vw);
        max-height: fit-content;
    }
    .hdc {
        /*border: min(0.5vh, 0.5vw) solid #173d4c;*/
        height: 90%;
        /*max-height: 40vw;*/
        min-height: fit-content;
        border-radius: min(0.5vh, 0.5vw);
    }

    .slideshowContainer.hdc {
        height: 0;
        min-height: 100%;
    }

    .homepageCol.hdc {
        min-height: 40vh;
        height: min-content ;
    }
}
@media (orientation: portrait) {
    .homepageDuo {
        display: grid;
        grid-gap: min(2vh, 2vw);
        grid-template-rows: auto 30vh;
        /*height: 50%;*/
        /*overflow: hidden;*/
        margin: min(1vh, 1vw);
        padding: min(1vh, 1vw);
        /*max-height: 50vw;*/
    }
    .hdc {
        /*border: min(0.5vh, 0.5vw) solid #173d4c;*/
        /*height: 90%;*/
        /*max-height: 40vw;*/
        /*min-height: fit-content;*/
        border-radius: min(0.5vh, 0.5vw);
    }

    .homepageCol.hdc {
        height: min-content;
    }
    .homepageCol:nth-child(2){
        grid-row: 1;
        /*color: red;*/
    }
}

.estateContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.estateListContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.estateHeading {
    text-align: center;
    font-size: min(6vw, 3vh);
    font-family: "JustSansBold";
    display: block;
}

.estateSubheading {
    text-align: center;
    font-size: min(3vw, 2vh);
    font-family: "JustSansRegular";
    display: block;
}

.estateButton {
    font-size: min(3vw, 2vh);
    font-family: "JustSansRegular";
}

.addEstateContainer {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    /*background-color: white;*/
}

.addEstateMenu {
    background-color: white;
    width: 90%;
    height: 90%;
}

.addEstateMenu label {
    font-family: "JustSansRegular";
    font-size: min(3vh, 6vw);
}

.addEstateMenu input {
    font-family: "JustSansRegular";
    font-size: min(2vh, 4vw);
}

.addEstateMenu textarea {
    font-family: "JustSansRegular";
    font-size: min(2vh, 4vw);
    width: 90%;
    height: 90%;
}

.manageEstateMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.estateView {
    border: 0.1vh solid grey;
    padding: min(0.5vh, 0.5vw);
    margin: min(0.5vh, 0.5vw);
    font-size: min(3vh, 4.5vw);
}

.expandedEstateView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expandedEstateViewContent {
    background-color: white;
    width: 95%;
    height: 90%;
    overflow: scroll;
    /*height: fit-content;*/

    /*margin-top: 5%;*/
    /*min-height: 90%;*/
}

.expandedAvailView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expandedAvailViewContent {
    background-color: white;
    width: 90%;
    height: 80%;
}

/*.expandedAvailViewContent * {*/
/*    font-size: min(2.5vh, 5vw);*/
/*    margin: min(0.5vh, 1vw);*/
/*}*/

.estateViewItem {
    font-size: min(2.5vh, 5vw);
    margin: min(0.5vh, 1vw);
    border-bottom: min(0.2vh, 0.2vw) solid black;


}

input[type=time] {
    font-size: min(2.5vh, 5vw);
}

.estateCaption {
    font-size: min(3vh, 4.5vw);
    text-align: center;
    font-family: "JustSansRegular";
    padding-left: 10vw;
    padding-right: 10vw;
}

.pickupContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.pickupCaption {
    font-size: min(3vh, 4.5vw);
    text-align: center;
    font-family: "JustSansRegular";
    padding-left: 10vw;
    padding-right: 10vw;
}

.estateAvailabilityEntry {
    border-top: min(0.2vh, 0.2vw) solid black;
}

.WeekView {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.WeekViewCols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100vh;
    justify-items: center;
    align-items: center;
}

.pickupDayContainer.selectedDay {
    color: white;
    background-color: #173d4c;
    border-radius: 50%;
}

.pickupDayContainer {
    aspect-ratio: 1/1;
    height: 100%;
    padding: min(2vh, 4vw);
    height: 1em;
    width: 1em;
    margin: auto;
    font-size: min(2vh, 4vw);
    font-family: "Geometos";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pickupDayContainer.unselectable {
    color: grey;
}

.WeekViewMonth {
    font-size: min(3vh, 6vw);
    font-family: "Geometos";
    margin: min(1vh, 2vw);
}

.pickupViewTime {
    font-size: min(2vh, 4vw);
    font-family: "JustSansRegular";
}

.pickupViewLocation {
    font-size: min(2vh, 4vw);
    font-family: "JustSansRegular";
}

.pickupViewContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.pickupView {
    text-align: center;
    width: 100%;
    border-bottom: min(0.2vh, 0.2vw) solid black;
}

.pickupViewMsg {
    font-size: min(2vh, 4vw);
    font-family: "JustSansRegular";
}

.appointmentView {
    width: 100%;
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    justify-content: center;

}

.appointmentEntry {
    font-size: min(2vh, 4vw);
    font-family: "JustSansRegular";
    text-align: center;
    border: min(0.2vh, 0.4vw) solid black;
    padding: min(0.5vh, 1vw);
    margin: min(0.5vh, 1vw);
}

.appointmentCaption {
    width: 100%;
    text-align: center;
    font-size: min(3vh, 6vw);
    font-family: "Geometos";
}

.confirmBookingCaption {
    font-family: "JustSansBold";
    font-size: min(3vh, 6vw);
}

.manageBooking {
    font-family: "JustSansRegular";
    font-size: min(2vh, 4vw);
    border-top: min(0.2vh, 0.2vw) solid black;
}

.confirmBookingContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.infoMenu {
    width: 100%;
    height: 100%;
    /*color: black;*/
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.infoMenuContent {
    width: 90%;
    height: 90%;
    background-color: white;
}

.ownerMenuContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.ownerMenu {
    width: 80%;
    height: 80%;
    background-color: white;
}

.homepageImage {
    width: 100%;
    height: 90vh;
    background-image: url("/public/background.jpeg");
    background-position: bottom;
    background-size: cover;
}

.homepage {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    background-color: #d4d4d4;

}

.homepageTagline {
    display: flex;
    position: relative;
    /*top: 37%;*/
    padding-left: min(2vh, 2vw);
    padding-right: min(2vh, 2vw);
    margin-left: min(2vh, 2vw);
    margin-right: min(2vh, 2vw);
    text-align: center;
    justify-content: center;
    /*width: 100%;*/
    text-shadow: 3px 3px black;
    flex-direction: column;
    height: 100%;
    color: white;
    font-family: "Geometos";
    font-size: min(4vh, 8vw);
}

.missionStatement {
    background-color: white;
    width: 100%;
    /*height: 20vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: min(2vh, 4vw);
    text-align: center;
}

.missionStatementArea {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "JustSansRegular";
    font-size: min(3vh, 6vw);

}