body {
    margin: 0
}

/*.pac-target-input {*/
/*    width: 20vw;*/
/*    height: 3vh;*/
/*    align-self: center;*/
/*    left: 0;*/
/*    top: 0;*/
/*}*/

.topbar {
    width: 100vw;
    /*height: 100%;*/
    grid-row: 1;
    /*display: flex;*/
    /*align-items: center;*/
    /*position: absolute;*/
    /*justify-content: space-evenly;*/
    font-family: "JustSansRegular";
    grid-template-columns: auto 70%;
    background-color: #d4d4d4;
    display: grid;
    /*flex-wrap: wrap;*/
    color: #173d4c;
    z-index: 3;

}

.logo {
    /*max-height: 5vh;*/
    display: flex;
    flex-direction: row;
    /*max-width: 30%;*/
    align-items: center;
}

.topbarEntry {
    padding: min(3vh, 3vw);
    text-decoration: none;
    color: #173d4c;
    font-size: min(3vh, 3vw);
    background-color: #d4d4d4;
    /*animation: b`u`ttonHover 1s;*/
    /*animation-direction: reverse;*/
    /*animation-fill-mode: forwards;*/
}

.tbAnimate {
    position: absolute;
    top: 0;
    animation-name: tb-in;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes tb-in {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

.topbarEntries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;

}

.topbarEntry:hover {
    animation: buttonHover 1.25s;
    animation-fill-mode: forwards;
}

@keyframes buttonHover {
    0% {
        background-color: rgba(255,255,255,0);
    }
    100% {
        background-color: rgba(255,255,255, 0.5);
    }
}

@keyframes backgroundGradient{
    0% {
        transform: scale(500%) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) scale(100%);

    }
}

.homepage {
    display: flex;
    /*align-items: center;*/
    align-content: center;
    justify-content: center;
}

.homepageContainer {
    width: 90%;
    /*height: fit-content;*/
    display: flex;
    flex-direction: column;
    border: min(1vw, 1vh) solid #173d4c;
    border-radius: min(1vh, 1vw);
    padding: min(1vh, 1vw);
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: min(2vh, 2vw)
}

/*.homepageBG {*/

/*    background: rgb(238,140,140);*/
/*    background: radial-gradient(circle, rgba(238,140,140,1) 3%, rgba(245,186,158,1) 15%, rgba(253,242,180,1) 42%, rgba(241,255,186,1) 55%, rgba(255,217,168,1) 82%, rgba(238,140,140,1) 100%);*/

/*    animation-name: backgroundGradient;*/
/*    animation-iteration-count: infinite;*/
/*    animation-fill-mode: forwards;*/
/*    animation-duration: 10s;*/
/*    animation-direction: alternate;*/
/*    !*transition:--a 0.5s;*!*/
/*    !*scale: 200%;*!*!*/
/*    width: 105%;*/
/*    height: 105%;*/
/*    overflow: hidden;*/
/*    position: fixed;*/
/*    left: 0;*/
/*    top: 0;*/
/*    z-index: -1;*/
/*    filter: blur(25px);*/
/*}*/

.homepageBG {
    background-image: url("/src/assets/resources/images/background.jpg");
        width: 105%;
        height: 105%;
        overflow: hidden;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
}

@font-face {
    font-family: 'Geometos';
    src: url("assets/resources/fonts/Geometos.ttf") format("truetype");
}

@font-face {
    font-family: "JustSansBold";
    src: url("assets/resources/fonts/JustSansBold.otf") format("opentype");
}

@font-face {
    font-family: "JustSansRegular";
    src: url("assets/resources/fonts/JustSansRegular.otf") format("opentype");
}

form input {
    display: block;
    margin: 0.5vh;
    font-size: 4vh;
    width: 90%;
}


@keyframes borderAnimate {
    100% {
        background-color: rgba(255, 255, 255, 0.9);;
        border: 1vw solid rgba(255, 255, 255, 0.9);
        scale: 100%;
    }
    0% {
        border: 1vw solid rgba(255, 255, 255, 1.0);;
        background-color: rgba(255, 255, 255, 1.0);;
        scale: 102%
    }
}
@keyframes borderAnimate2 {
    0% {
        border: 1vw solid rgba(255, 255, 255, 0.9);
        background-color: rgba(255, 255, 255, 0.9);;
        scale: 100%
    }
    100% {
        border: 1vw solid rgba(255, 255, 255, 1.0);
        background-color: rgba(255, 255, 255, 1.0);;
        scale: 102%;
    }
}


.card:hover {
    animation-name: borderAnimate2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.card {
    transition-delay: 0.25s;
    border: 1vw solid rgba(255, 255, 255, 0.9);;
    border-radius: 1vw;
    padding: min(1vh, 1vw);
    display: flex;
    overflow: hidden;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    color: #173d4c;
    animation-name: borderAnimate;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /*width: fit-content;*/
    height:fit-content;
    width: min(90vh, 90vw, 90%);
    position: relative;
    justify-content: center;
    z-index: 2;
    max-height: 90%;
    font-family: "JustSansRegular";
    /*margin-bottom: 2vw;*/
    flex-wrap: wrap;
    /*animation-direction: ;*/
}

.bookingInput {
    background-color: rgba(195 221 254 / 80%);
    font-size: min(2vw, 2vh);
    color: #173d4c;
    font-family: "JustSansRegular";
    border-radius: 5vh;
    padding: min(1vh, 1vw);
    width: fit-content;
    max-width: 90%;
}

.pac-target-input {
    background-color: white;
    border-radius: 0;
    width: 90%;
}

/*.autocomplete-container {*/
/*    background-color: white;*/
/*}*/

.cardNoAnimate {
    /*border: 1vw solid #d4d4d4;*/
    border-radius: 1vw;
    padding: 2vw;
    display: flex;
    overflow: hidden;
    margin: 1vw;
    background-color: rgba(255, 255, 255, 0.9);
    color: #173d4c;
}

.c button {
    font-size: min(2vh, 3vw);
    background-color: rgba(255, 235, 82, 0.33);
    border-radius: 0.5vw;
    padding: 0.5vw;
    color: #173d4c;
    /*background-color: inherit;*/
    border: 0.5vw solid #d4d4d4;;
    animation-name: buttonAnimate;
    animation-duration: 0.5s;
    transition-delay: 0.25s;
    animation-fill-mode: forwards;
    width: fit-content;
    height: fit-content;
}

.c button:hover {
    animation-name: buttonAnimate2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes buttonAnimate {
    100% {
        border: 0.5vw solid #d4d4d4;;
        scale: 102%;
    }
    0% {
        border: 0.5vw solid white;
        scale: 100%
    }
}
@keyframes buttonAnimate2 {
    0% {
        border: 0.5vw solid #d4d4d4;;
        scale: 102%
    }
    100% {
        border: 0.5vw solid white;
        scale: 100%;
    }
}

.calendarColumn:nth-of-type(1) {

}

.calendarCell {
    font-family: "JustSansRegular";
    cursor: pointer;
    min-height: 20%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dayOfWeek {
    font-family: "JustSansBold";
}

.ccSelected {
    color: green;
}

.addEstate {
    font-family: "JustSansBold";
    font-size: min(4vh, 4vw);
    color: #173d4c;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    width: 100%;
    text-align: center;
}

.addEstate div {
    display: flex;
    flex-direction: column;
    align-content: center;
    /*justify-content: center;*/
    align-items: center;
    justify-content: flex-start;
}

.calendarContainer {
    display: grid;
    grid-template-rows: auto 2fr;
    align-items: center;
    padding: 1vw;
}

.calendarContainerInner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card .card {
    margin-bottom: 2vw;
}

.calendarInclude {
    display: flex;
    align-items: center;
    margin: 1vw;
    text-align: center;
}
.calendar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginInput {
    max-width: 90%;
}

.bookingView {
    display: grid;
    /*grid-template-columns: auto 1fr auto;*/
    grid-template-columns: min(30vw, 30vh) min(30vw, 30vh) min(30vw, 30vh) ;
    grid-template-rows: auto min(30vw, 30vw) auto;
    flex-direction: row;
    flex-wrap: wrap;
    /*height: 100%;*/
    min-height: 30vh;
    justify-items: center;
    /*width: 90%;*/
}

.bookingLocationView {
    aspect-ratio: 1/1;
    max-height: 90%;
    display: flex;
    grid-column: 2;
    grid-row: 2;
}

.bookingViewButtonContainer {
    /*grid-row: 3;*/
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 90%;
}

.bookingViewTitle {
    grid-row: 1;
    grid-column: 2;
    font-family: "JustSansBold";
    margin: 1vh;
    font-size: 4vh;
}

.bookingSelectionContainer {
    margin-top: 9vh;
    width: min(90vw, 90vh);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bookingSelectionContainer .card {
    width: 100%;
    margin: 0;
    margin-bottom: min(1vh, 1vw);
}

.dropoffLocationView {
    aspect-ratio: 1/1;
    max-height: 90%;
    max-width: min(25vw, 25vh);
    display: flex;
    margin: min(1vh, 1vw);
    width: 30vh;
}

.availableEstatesContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.myDropoffs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 90%;
}

.transferView {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    text-align: center;
}

.dropoffLocationContainer {
    display: grid;
    /*flex-direction: row;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min(30vh, 30vw) auto;
    width: 100%;
    justify-items: center;
}

.soloDropoffLocationView {
    width: min(90vw, 90vh, 90%);
    max-width: min(25vw, 25vh);
    aspect-ratio: 1/1;
}

.dropoffEntrySelection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerContainer {
    max-width: 90%;
    text-align: center;
}

.popUp {
    z-index: 4;
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.notif {
    z-index: 4;
    /*background-color: rgba(0,0,0, 0.5);*/
    position: absolute;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    bottom: 5%;
    opacity: 1;
}

.an {
    animation-name: notifHide;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction:normal;
}

.notifEntry {
    animation-name: notifLifeCycle;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    font-family: JustSansRegular;
    border: min(0.5vw, 0.5vh) solid #173d4c;
    background-color: white;
    width: 90%;
}

@keyframes notifLifeCycle {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.homepageRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: min(0.5vh, 0.5vw) solid #173d4c;
    padding: min(2vw, 2vh);
    align-items: center;
}

.homepageCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slideshow {
    /*max-width: 90%;*/
    /*max-height: min(30vh, 30vw);*/
    overflow: hidden;
    display: flex;
    align-items: center;

}

.slideshowContainer {
    height: 100%;
    overflow: hidden;
}

.slideshow img {
    object-fit: cover;
    width: 100vh;
    height: 100vw;
    object-position: center;
    overflow: hidden;
    will-change: opacity;
    /*animation-name: slideshowFadeIn;*/
    /*animation-duration: 0.25s;*/
    /*opacity: 0;*/

}

@keyframes slideshowFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideshowFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.slideshow-transition-enter {
    opacity: 1;
    transition: opacity 0.25s;
    /*transition-delay: 3s;*/
}
.slideshow-transition-active {
    opacity: 1;
}
.slideshow-transition-exit {
    opacity: 0;
    transition: opacity 0.25s;
}
.slideshow-transition-exit-done {
    opacity: 0;

}



@media (orientation: landscape) {
    .homepageDuo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 50%;
        overflow: hidden;
        grid-gap: min(2vh, 2vw);
        margin: min(1vh, 1vw);
        padding: min(1vh, 1vw);
        max-height: 50vw;
    }
    .hdc {
        border: min(0.5vh, 0.5vw) solid #173d4c;
        height: 90%;
        max-height: 40vw;
        min-height: fit-content;
        border-radius: min(0.5vh, 0.5vw);
    }
}
@media (orientation: portrait) {
    .homepageDuo {
        display: grid;
        grid-gap: min(2vh, 2vw);
        grid-template-rows: 30vh 30vh;
        /*height: 50%;*/
        /*overflow: hidden;*/
        margin: min(1vh, 1vw);
        padding: min(1vh, 1vw);
        /*max-height: 50vw;*/
    }
    .hdc {
        border: min(0.5vh, 0.5vw) solid #173d4c;
        /*height: 90%;*/
        /*max-height: 40vw;*/
        /*min-height: fit-content;*/
        border-radius: min(0.5vh, 0.5vw);
    }
    .homepageCol:nth-child(2){
        grid-row: 1;
        /*color: red;*/
    }
}

